@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Prata&family=Tagesschrift&display=swap');
@font-face {
  font-family: 'Cayleighs Strong';
  src: url('../fonts/CayleighsStrongFont-Regular.woff2') format('woff2'),
       url('../fonts/CayleighsStrongFont-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

:root {
    --primary-color: #3a5a40;
    --secondary-color: #e3d5ca;
    --background-color: #b0cab1;
    --text-color: #333;
    --envelope-color: #fff;
    --envelope-flap-color: #ff6666;
    --heart-color: #fb6f92;
    --chosen-font: 'Lora', 'Arial', sans-serif;
    --box-shadow: 0px 4px 6px rgba(13, 33, 23, 0.678);
}
/* attempt to get the img/gif to be responsive */
* {
  outline: 1px solid red;
}
.preamble {
background: url("../images/paper.gif") repeat-y;
 background-size: auto 100%; 
  padding: 25px 45px 0px 35px;
  font-family: var(--chosen-font);
  font-size: 14pt;
  font-style: italic;

}
.my-font{   
    font-family: 'Cayleighs Strong', var(--chosen-font), sans-serif;
    font-size: 5rem;
    color: var(--primary-color);
    text-align: center;
    margin-bottom: 1rem;
}
body {
    perspective: 1000px;
    font-family: var(--chosen-font);
    background-color: var(--background-color);
    color: var(--text-color);
    margin: 0;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

main {
    display: flex; 
    flex-direction: column;
    align-items: center;
    background-color: var(--secondary-color);
    border-radius: 1.8rem;
    padding: 4rem;
}



/* =============*
*    Images     *
* ============= */
img {
    width: 100%;
    max-width: 300px;
    height: auto;
    margin: 1rem 0;
    border-radius: 25% 2%;

    box-shadow: var(--box-shadow);
  
}

header nav ul {
    list-style: none;

    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
   
}


/* =============*
* envelope stuff*
 ===============*/

.envelope {
    position: relative;
    transition: all 0.6s ease-in-out;
    transform-style: preserve-3d;
    border-radius: 10px;
}

.envelope-flap {
    background: var(--envelope-color);
    box-shadow: var(--box-shadow);
    perspective: 1000px;
    position: relative;
    height: 150px;
    width: 300px;
    margin-bottom: 1rem;
    cursor: pointer;
}

.envelope-flap::after {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    border-top: 130px solid var(--envelope-flap-color);
    border-right: 150px solid transparent;
    border-left: 150px solid transparent;
    transition: all 0.6s ease-in-out;
    z-index: 2;
}

#invite {
    position: absolute;
    left: 50%;
    width: 100%;
    max-width: 700px; 
    text-align: center;
    background-color: var(--secondary-color);
    box-shadow: var(--box-shadow);
    padding: 1rem 2rem;
    transform: translate(-50%, 0%) scale(0.5);
    opacity: 0;
    border-radius: 10px;
    transition: transform 0.6s ease, opacity 0.6s ease;
    z-index: 1;
}


 #invite.preamble {
  position: relative;
  max-width: 700px;
  width: 100%;
  margin: 0 auto;
  text-align: center;
  box-sizing: border-box;
  overflow-wrap: break-word;
  word-break: break-word;
  white-space: normal;
}


/* ================*
* envelope effects *
* =================*/
#toggle-env:checked ~ .env-toggle .container .envelope #invite {
    top: 50%;
    transform: translate(-50%, -50%) scale(1);
    opacity: 1;
}

#toggle-env:checked ~ .confetti-wrapper {
    display: block;
}


/* =============*
* Footer stuff*
* ============= */


footer {
    font-family: Cayleighs Strong,var(--chosen-font), sans-serif;
    margin-top: 2rem;
    text-align: center;
    font-size: 0.9rem;
    border-top: var(--envelope-color) solid 2px;     /* thjis is the solid white line, not greyish one */
}

footer a {
    color: var(--primary-color);
    text-decoration: none;
    margin: 0 0.5rem;
}


/* =================*
* social media icons *
* =================-*/
.socials a img {
    width: 50px;
    height: 50px;
    margin: 0.3rem;
}

.socials a:hover img {
    transform: scale(1.2);
    transition: transform 0.3s ease;
}

.socials a {
    text-decoration: none;
    background-color: var(--secondary-color);
    border-radius: 0.8rem;
    color: var(--primary-color);
    font-weight: bold;
    font-size: medium;
}

.socials a i {
    position: relative;
    color: #262626;
    transition: 0.5s;
    z-index: 3;
}

ul li:nth-child(1) a::before {
    background-color: #3b5999;
}

ul li:nth-child(2) a::before {
    background-color: #C4302B;
}

ul li:nth-child(3) a::before {
    background-color: #FFFC00;
}

ul li:nth-child(4) a::before {
    background-color: #000;
}


@media screen and (max-width: 768px) {
#invite{

    max-width: 90vw;
    width: 100%;
    
}
  main {
    padding: 15rem;
  }
.envelope-flap {
    height: 100px;
    width: 200px;
}
}